<div class="messaging">
    <div class="inbox_msg">
        <div class="mesgs">
            <div class="msg_history">
                <div *ngFor="let userMessage of userMessages$ | async">
                    <ng-container
                        *ngTemplateOutlet="
                            isOutgoingMessage(userMessage) ? outgoingMessage : incomingMessage;
                            context: userMessage
                        "
                    >
                    </ng-container>
                </div>
            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Type a message" />
                    <button class="msg_send_btn" type="button" (click)="send()">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #incomingMessage let-name="name" let-message="message">
    <div class="incoming_msg">
        <div class="incoming_msg_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" />
        </div>
        <div class="received_msg">
            <div class="received_withd_msg">
                <p>{{ message }}</p>
                <span class="user-name">{{ name }}</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #outgoingMessage let-name="name" let-message="message">
    <div class="outgoing_msg">
        <div class="sent_msg">
            <p>{{ message }}</p>
            <span class="user-name">{{ name }}</span>
        </div>
    </div>
</ng-template>
