<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="about_thumb">
                    <img class="img-fluid" [attr.src]="'portfiliio.jpg' | imagePath" alt="" />
                </div>
            </div>
            <div class="col-xl-7 col-md-6">
                <div class="about_info">
                    <h3>Jack Kalib</h3>
                    <p>
                        Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing
                        drawing. Apartments frequently or motionless on reasonable projecting expression enim ad minim
                        veniam quis nostrud exercitation we have supported programmes to help alleviate human suffering
                        through animal welfare when people might depend.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax parallax3" [style.background-image]="'parallax3.jpg' | imagePath : true">
    <div class="container inner text-center">
        <h2>Parallax Section</h2>
        <div class="lead large text-center">posuere erat venenatis dapibus posuere velit aliquet</div>
        <div class="text-center">
            <a href="#" class="fancybox-media btn btn-white">Watch Video with Lightbox</a>
        </div>
    </div>
</div>
<div class="big-content container">
  <span class="random-content">На странице представлен случайный контент</span>
</div>
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions &amp; updates!</h2>
                    <p>
                        Seamlessly empower fully researched growth strategies and interoperable internal or “organic”
                        sources credibly innovate granular internal .
                    </p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail" />
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
