<div class="big-content"></div>
<div class="parallax parallax3">
  <div class="container inner text-center">
    <h2>Parallax Section</h2>
    <div class="lead large text-center">posuere erat venenatis dapibus posuere velit aliquet</div>
    <div class="text-center">
      <a href="#" class="fancybox-media btn btn-white"
        >Watch Video with Lightbox</a
      >
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="dark-wrapper">
  <div class="container inner text-center">
    <p class="lead">Would you like to work with us?</p>
    <a href="#" class="btn">
      <i class="icon-paper-plane"></i>
      Contact Us
    </a>
  </div>
</div>
<div class="big-content"></div>
