.parallax {
  background: url('/assets/images/parallax1.jpg') fixed no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
}
.big-content {
  height: 500px;
}
.parallax .inner {
  padding-top: 130px;
  padding-bottom: 130px;
}
.parallax a {
  color: #ef5f60;
}
.parallax h2 {
  font-size: 28px;
  line-height: 34px;
}
.parallax .lead {
  color: #fff;
}
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}
.parallax.parallax3 {
  background-image: url('/assets/images/parallax3.jpg');
}
