<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Warn"
	  internalLogFile="c:\logs\internal-log.txt">

	<time type="AccurateUTC" />
	<variable name="logDirectory" value="C:\Logs\Patterns"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target name="Logger"
				xsi:type="File"
				fileName="${logDirectory}\${LEVEL}-${logger}.${date:format=yyyy_MM_dd}.txt"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="UTF-8">
					<layout xsi:type="JsonLayout" includeAllProperties="true">
						<attribute name="time" layout="${date:format=o}" />
						<attribute name="level" layout="${level:upperCase=true}"/>
						<attribute name="logger" layout="${logger}"/>
						<attribute name="message" layout="${message:when=length('${event-properties:item=message}')==0}" escapeUnicode="false" encode="true"/>
						<attribute name="exception" layout="${exception:format=tostring}"/>
						<attribute name="request-method" layout="${aspnet-request-method}" />
						<attribute name="request-querystring" layout="${aspnet-request-querystring}" />
						<attribute name="request-url" layout="${aspnet-request-url}" />
						<attribute name="response-status-code" layout="${aspnet-response-statuscode}"/>
						<attribute name="activityid" layout="${activityid:uppercase=true}"/>
						<attribute name="request-correlation-id" layout="${aspnet-item:variable=X-Request-Correlation-Id"/>
						<attribute name="client-correlation-id" layout="${aspnet-item:variable=X-Client-Correlation-Id"/>
						<attribute name="numberSelection-loggedInUserMsisdn" layout="${aspnet-item:variable=NumberSelection_LoggedInUserProfile.Phone:evaluateAsNestedProperties=true}" />
						<attribute name="numberSelection-reservedMsisdn" layout="${aspnet-item:variable=NumberSelection_ReserveInfo.Phone.Msisdn:evaluateAsNestedProperties=true}" />
						<attribute name="user-agent" layout="${aspnet-request-headers:HeaderNames=User-Agent}" />
						<attribute name="eventProperties" encode="false" escapeForwardSlash="false">
							<layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="CallerMemberName,CallerFilePath,CallerLineNumber" renderEmptyObject="false" maxRecursionLimit="5" />
						</attribute>
					</layout>
		</target>
	</targets>
	<rules>
		<logger name="ToDoList.*" minlevel="Error" writeTo="Logger" />
	</rules>
</nlog>